In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
nonProfitSpending = pd.read_csv('NonProfits_Spending.csv')
print(type(nonProfitSpending))

<class 'pandas.core.frame.DataFrame'>

In [3]:
print(nonProfitSpending)

             EIN                                               Name  \
0      941116539             Machinists/Aerospace Workers Local 141
1      470743362                   International Assn of District 6
2      231670574                     United steelworkers Local 6996
3      371254702                 International Union UAW Local 2488
4       60728625                      Insurance Assn of Connecticut
...          ...                                                ...
20136  237401870  Smithtown Volunteer Exempt Fireman's Benevolen...
20137  742539793                               Arizona food Council
20138  590569910                                     Cwa Local 3106
20139  237249869     Optimist International 33211 Ocean City-Berlin
20140  421612364  Service employees international Union Local no 11

      Total Reported Spending      Latest Filing
0                    $7310774   December 31 2015
1                    $1737344   December 31 2015
2                    $1231843   December 31 2015
3                     $704464   December 31 2015
4                     $664843   November 30 2015
...                       ...                ...
20136                 $128147   December 31 2008
20137                 $100000   December 31 2008
20138                 $593121  September 30 2008
20139                 $222617  September 30 2008
20140                $1391423  September 24 2008

[20141 rows x 4 columns]

In [4]:
display(nonProfitSpending)

,EIN,Name,Total Reported Spending,Latest Filing
0,941116539,Machinists/Aerospace Workers Local 141,$7310774,December 31 2015
1,470743362,International Assn of District 6,$1737344,December 31 2015
2,231670574,United steelworkers Local 6996,$1231843,December 31 2015
3,371254702,International Union UAW Local 2488,$704464,December 31 2015
4,60728625,Insurance Assn of Connecticut,$664843,November 30 2015
...,...,...,...,...
20136,237401870,Smithtown Volunteer Exempt Fireman's Benevolen...,$128147,December 31 2008
20137,742539793,Arizona food Council,$100000,December 31 2008
20138,590569910,Cwa Local 3106,$593121,September 30 2008
20139,237249869,Optimist International 33211 Ocean City-Berlin,$222617,September 30 2008
20140,421612364,Service employees international Union Local no 11,$1391423,September 24 2008

In [5]:
nonProfitSpending[nonProfitSpending['Total Reported Spending'] > 1]

TypeError: '>' not supported between instances of 'str' and 'int'

In [6]:
nonProfitSpending.dtypes

EIN                         int64
Name                       object
Total Reported Spending    object
Latest Filing              object
dtype: object

In [7]:
nonProfitSpending['Total Reported Spending'] = nonProfitSpending['Total Reported Spending'].astype(float)

ValueError: could not convert string to float: '$7310774'

In [8]:
def cast_to_number(some_text):
    """converts a string to a number by removing dollar signs
    """
    if isinstance(some_text, float) or isinstance(some_text, int):  # already a number!
        return some_text
    no_dollar_sign = some_text.replace('$', '')
    number = float(no_dollar_sign)
    return number

In [10]:
nonProfitSpending['Total Reported Spending'] = nonProfitSpending['Total Reported Spending'].apply(cast_to_number)

In [11]:
nonProfitSpending[nonProfitSpending['Total Reported Spending'] > 1]

,EIN,Name,Total Reported Spending,Latest Filing
0,941116539,Machinists/Aerospace Workers Local 141,7310774.0,December 31 2015
1,470743362,International Assn of District 6,1737344.0,December 31 2015
2,231670574,United steelworkers Local 6996,1231843.0,December 31 2015
3,371254702,International Union UAW Local 2488,704464.0,December 31 2015
4,60728625,Insurance Assn of Connecticut,664843.0,November 30 2015
...,...,...,...,...
20136,237401870,Smithtown Volunteer Exempt Fireman's Benevolen...,128147.0,December 31 2008
20137,742539793,Arizona food Council,100000.0,December 31 2008
20138,590569910,Cwa Local 3106,593121.0,September 30 2008
20139,237249869,Optimist International 33211 Ocean City-Berlin,222617.0,September 30 2008
20140,421612364,Service employees international Union Local no 11,1391423.0,September 24 2008

In [12]:
nonProfitSpending[nonProfitSpending['Total Reported Spending'].isnull()]

,EIN,Name,Total Reported Spending,Latest Filing
1424,237326563,Veterans of Foreign Wars of the US Dept of Flo...,NaN,June 30 2015

In [14]:
nonProfitSpending['Total Reported Spending'].median()

1049089.5